# Where component owners are known, add them here.

# Team
* @Alexander-Dubrawski @caterinamandel98 @cH3n7i @fabianhe @kathwill @MaxSchneider1337 @monasobh @PeterTsayun @schTi

# DevOps
# @caterinamandel98 @cH3n7i @fabianhe
/* @caterinamandel98 @cH3n7i @fabianhe
/.github/ @caterinamandel98 @cH3n7i @fabianhe
/docker/ @caterinamandel98 @cH3n7i @fabianhe
/docker-compose.yml  @caterinamandel98 @cH3n7i @fabianhe
/hyrise/ @caterinamandel98 @cH3n7i @fabianhe
/hyrisecockpit/api/Dockerfile @caterinamandel98 @cH3n7i @fabianhe
/hyrisecockpit/database_manager/Dockerfile @caterinamandel98 @cH3n7i @fabianhe
/hyrisecockpit/workload_generator/Dockerfile @caterinamandel98 @cH3n7i @fabianhe
/hyrisecockpit/frontend/Dockerfile @caterinamandel98 @cH3n7i @fabianhe

# Backend
# @Alexander-Dubrawski @caterinamandel98 @cH3n7i @fabianhe @PeterTsayun
/hyrisecockpit/ @Alexander-Dubrawski @caterinamandel98 @cH3n7i @fabianhe @PeterTsayun
/tests/ @Alexander-Dubrawski @caterinamandel98 @cH3n7i @fabianhe @PeterTsayun
/utils/ @Alexander-Dubrawski @caterinamandel98 @cH3n7i @fabianhe @PeterTsayun

# Frontend
# @kathwill @MaxSchneider1337 @monasobh @schTi
/hyrisecockpit/frontend/ @kathwill @MaxSchneider1337 @monasobh @schTi
