# Where component owners are known, add them here.

# Team
* @Alexander-Dubrawski @Bouncner @Bensk1

# Backend
# @Alexander-Dubrawski @Bouncner @Bensk1
/hyrisecockpit/ @Alexander-Dubrawski @Bouncner @Bensk1
/system_tests/ @Alexander-Dubrawski @Bouncner @Bensk1
/tests/ @Alexander-Dubrawski @Bouncner @Bensk1
/utils/ @Alexander-Dubrawski @Bouncner @Bensk1

# Frontend
# @Alexander-Dubrawski @Bouncner @Bensk1
/hyrisecockpit/frontend/ @Alexander-Dubrawski @Bouncner @Bensk1

# DevOps
# @Alexander-Dubrawski @Bouncner @Bensk1
/* @Alexander-Dubrawski @Bouncner @Bensk1
/.github/ @Alexander-Dubrawski @Bouncner @Bensk1
/hyrise/ @Alexander-Dubrawski @Bouncner @Bensk1
**/**/Dockerfile @Alexander-Dubrawski @Bouncner @Bensk1
