fail_fast: true
default_stages: [commit]
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.4.0
    hooks:
    - id: no-commit-to-branch
      name: Checking if you can commit to this branch directly
      args: [--branch, master, --branch, dev]
    - id: check-added-large-files
      name: Checking for large files
      args: [--maxkb=1000]
    - id: check-merge-conflict
      name: Checking for merge conflicts
    - id: check-ast
      name: Checking syntax of python files
    - id: debug-statements
      name: Checking for debug statements
    - id: check-json
      name: Checking json file syntax
    - id: check-toml
      name: Checking toml file syntax
    - id: check-xml
      name: Checking xml file syntax
    - id: check-yaml
      name: Checking yaml file syntax
    - id: pretty-format-json
      name: Formatting json files
      args: [--autofix, --indent=4, --no-sort-keys]
  - repo: local
    hooks:
    - id: isort
      name: Running isort on python files
      description: 'isort is a Python utility / library to sort imports alphabetically, and automatically separated into sections.'
      language: system
      entry: isort
      types: [python]
      require_serial: true
    - id: black
      name: Running black on python files
      description: 'Black: The uncompromising Python code formatter'
      language: system
      entry: black
      types: [python]
    - id: flake8
      name: Running flake8 on python files
      description: 'flake8 is a command-line utility for enforcing style consistency across Python projects.'
      language: system
      entry: flake8
      types: [python]
    - id: mypy
      name: Running mypy on python files
      description: 'Mypy is an optional static type checker for Python. You can add type hints (PEP 484) to your Python programs, and use mypy to type check them statically.'
      entry: mypy
      language: system
      types: [python]
      args: ["--ignore-missing-imports", "--scripts-are-modules"]
      require_serial: true
      additional_dependencies: []
    - id: pydocstyle
      name: Running pydocstyle on python files
      description: 'pydocstyle is a static analysis tool for checking compliance with Python docstring conventions.'
      entry: pydocstyle
      language: system
      types: [python]
    - id: bandit
      name: Running bandit on python files
      description: 'Bandit is a tool for finding common security issues in Python code'
      language: system
      entry: bandit
      types: [python]
      args: [--exclude, tests]
    - id: pytest
      stages: [manual,]
      name: Running Python tests
      description: 'The pytest framework makes it easy to write small tests, yet scales to support complex functional testing'
      entry: pytest
      language: system
      pass_filenames: false