[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
hyrisecockpit = {editable = true,path = "."}
pre-commit = "*"
black = "*"
flake8 = "*"
isort = "*"
pep8-naming = "*"
rope = "*"
bandit = "*"
pydocstyle = "*"
flake8-bugbear = "*"
pytest = "*"
pytest-testdox = "*"
mypy = "*"
pytest-cov = "*"
pipenv-to-requirements = "*"

[packages]
pandas = "*"
psycopg2-binary = "*"
pyzmq = "*"
python-dotenv = "*"
flask = "*"
flask-cors = "*"
apscheduler = "*"
jsonschema = "*"
influxdb = "*"
flask-restx = "*"

[requires]
python_version = "3.8.1"

[pipenv]
allow_prereleases = true
