[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pre-commit = "*"
black = "*"
flake8 = "*"
isort = "*"
pep8-naming = "*"
rope = "*"
bandit = "*"
pydocstyle = "*"
flake8-bugbear = "*"

[packages]
pandas = "*"
rq = "*"
psycopg2 = "*"
pyzmq = "*"
python-dotenv = "*"

[requires]
python_version = "3.6.8"

[pipenv]
allow_prereleases = true
