BACKEND_HOST="0.0.0.0"
BACKEND_PORT="20000"

DB_MANAGER_HOST="127.0.0.1"
DB_MANAGER_PORT="20001"

GENERATOR_HOST="127.0.0.1"
GENERATOR_PORT="20002"

WORKLOAD_SUB_HOST="127.0.0.1"
WORKLOAD_PUBSUB_PORT="20003"

DEFAULT_TABLES="tpch_0.1"

STORAGE_HOST="localhost"
STORAGE_PORT="8086"
STORAGE_USER="root"
STORAGE_PASSWORD="root"

DATABASE_HOST="vm-momentum.eaalab.hpi.uni-potsdam.de"
DATABASE_PORT="5432"