name: Backend Lint and Test

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - name: Set up Python 3.8.3
      uses: actions/setup-python@v1
      with:
        python-version: 3.8.3
    - name: Install libpq PostgreSQL client
      run: sudo apt-get -yqq install libpq-dev
    - name: Install pipenv
      uses: dschep/install-pipenv-action@v1
    - name: Install pipenv virtual environment with dev dependencies
      run: |
        pipenv sync --dev
    - name: Run all pre-commit hooks
      run: |
        pipenv run pre-commit run --all-files
    - name: Run all python tests
      run: |
        pipenv run pytest tests/ --cov=hyrisecockpit --cov-fail-under=75
    - name: Native requirements mirror pipenv requirements
      run: |
        pipenv run pipenv_to_requirements -o requirements_temp.txt -f && cmp -s requirements.txt requirements_temp.txt
    - name: Native requirements-dev mirror pipenv-dev requirements
      run: |
        pipenv run pipenv_to_requirements -d requirements-dev_temp.txt -f && cmp -s requirements-dev.txt requirements-dev_temp.txt
